body{
	margin:0 auto;
}

@media only screen and (max-width: 1000px){

	@keyframes colchange{
	0%{
		background:transparent;
	}
	30%{
		background-color:#B4B7BA;
	}
	60%{
		background-color:#EADEDB;
	}
	100%{
		background:transparent;
	}
}

@keyframes burnin{
	0% {
		box-shadow: 0 5px 15px 0px;
		
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}

}
@keyframes burnout{
	0% {
		
		transform: translatey(0px);

	}
	50% {
		
		transform: translatey(20px);
		
	}
	100% {
		transform: translatey(0px);
		
		
	}

}


header{
	
	width:100%;
	height: 10%;
	display: flex;
	animation-name: colchange;
	animation-duration: 15s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}
#up-one{
	margin-top: 8px;
	color: white;
	flex:2;
	margin-left: 2%;
	text-shadow: 2px 2px 4px #000000;
	font-family: serif;
	font-size: 15px;
}
#up-two{
	margin-top: 8px;
    margin-right:4%;
}
#up-two a{
	text-decoration: none;
	color:white;
	
	flex:1;
	text-shadow: 2px 2px 4px #000000;
    font-size: 15px;
}

#one{
     margin-top: 2%;
     width:25%;
       margin-left: auto;
    margin-right: auto;
   
}
#two{
	margin-top:15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}   

#three{
	margin-top:4%;
    
}


#soul{
	animation-name: burnin;
	animation-duration:6s;
	animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

	height:50px;
	width:50px;
	
}
#power{
	height:50px;
	width:50px;
	animation-name: burnout;
	animation-duration:6s;
	animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

    

}
#mind{
	height:50px;
	width:50px;
	float:right;
	margin-right: 10%;
	animation-name: burnin;
	animation-duration:6s;
	animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

}
#time{
	height:50px;
	width:100px;
    float:left;
    margin-left: 10%;
    animation-name: burnout;
	animation-duration:6s;
	animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

}
#space{
	height:50px;
	width:50px;
		animation-name: burnout;
	animation-duration:6s;
	animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;


}
#reality{
	height:50px;
	width:50px;
	animation-name: burnin;
	animation-duration:6s;
	animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

}
@media only screen and (min-width: 1000px)
{
	@keyframes colchange{
	0%{
		background:transparent;
	}
	30%{
		background-color:#B4B7BA;
	}
	60%{
		background-color:#EADEDB;
	}
	100%{
		background:transparent;
	}
}

@keyframes burnin{
	0% {
		box-shadow: 0 5px 15px 0px;
		
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}

}
@keyframes burnout{
	0% {
		
		transform: translatey(0px);

	}
	50% {
		
		transform: translatey(20px);
		
	}
	100% {
		transform: translatey(0px);
		
		
	}

}

header{
	
	width:100%;
	height: 8%;
	display: flex;
	animation-name: colchange;
	animation-duration: 15s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}
#up-one{
	margin-top: 8px;
	color: white;
	flex:2;
	margin-left: 5%;
	text-shadow: 2px 2px 4px #000000;
	font-family: serif;
	font-size: 25px;
}
#up-two{
	margin-top: 10px;
    margin-right:10%;
}
#up-two a{
	text-decoration: none;
	color:white;
	
	flex:1;
	text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
}



#one{
     margin-top: 2%;
     width:25%;
       margin-left: auto;
    margin-right: auto;
   
}
#two{
	margin-top:15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}   

#three{
	margin-top:4%;
    
}


#soul{
	animation-name: burnin;
	animation-duration:6s;
	animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

	height:150px;
	width:150px;
	
}
#power{
	height:150px;
	width:150px;
	animation-name: burnout;
	animation-duration:6s;
	animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

    

}
#mind{
	height:150px;
	width:150px;
	float:right;
	margin-right: 20%;
	animation-name: burnin;
	animation-duration:6s;
	animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

}
#time{
	height:150px;
	width:150px;
    float:left;
    margin-left: 20%;
    animation-name: burnout;
	animation-duration:6s;
	animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

}
#space{
	height:150px;
	width:150px;
		animation-name: burnout;
	animation-duration:6s;
	animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;


}
#reality{
	height:150px;
	width:150px;
	animation-name: burnin;
	animation-duration:6s;
	animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
}
